
<footer class="page-footer fixed-footer">
  <div class="row">
    <div class="col s4 l4">
      <ul>
        <li class="footer-link"><%= link_to "About",   about_path, class: "footer-anchor" %></li>
        <li class="footer-link"><%= link_to "Contact", contact_path, class: "footer-anchor" %></li>
        <li class="footer-link"><a href="http://news.railstutorial.org/" class="footer-anchor">News</a></li>         
      </ul>
    </div><!--col-->
  </div><!--row-->
</footer>
