@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body,html {
  font-family: "Source Sans Pro";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.btn-submit {
  width: 100%;
  margin-top: 100px;
}

.home-heading {
  font-size: 4.5em;
  margin-top: 50px;
}


.right {
  float: right;
}

.footer-link {
  display: inline-block;
  margin-left: 20px;
}

.footer-anchor {
  color: #fff;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
      padding: 0 !important;
    margin: 0 !important;
    height: 50px;
}

.brand-logo {
  margin-left: 20px;
}

#error_explanation > ul >li {
  color: #ef5350;
}

#nav-mobile {
  margin-right: 20px;
}

.waves-button-input {
  border: none !important;
  background: transparent !important;
  font-size: 1.5em;
  font-style: normal
}

.btn-create-micropost {
  margin: 10px auto; 
      height: 40px !important;
    line-height: 42px !important;
}

.user_info {
  margin-top: 25px;
}

.user-name {
      font-size: 1.5em;
    margin: 0 auto;
    margin-top: 0;
    line-height: 1.6em;
}

.user-name-span {
      font-size: 0.5em;
    font-weight: 300;
    line-height: 1.6em;
    display: inline-block;
}

.link-to-profile {
  font-size: 1em;
}